<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Acceso a la base de datos-->
    <add key="bd" value="CSI11G" />
    <add key="bdUser" value="BGDESA" />
    <add key="bdPass" value="BGDESA" />
    <!--Tiempo para el arranque del servicio-->
    <add key="timer" value="180000" />
    <!--3 minutos-->
    <!--Contraseña del correo electrónico-->
    <add key ="mailPass" value="Parque1818"/>
    <!--Nombre de la tabla-->
    <add key ="tbName" value="gc_correos"/>
    <!--Alias de la tabla-->
    <add key ="tbAlias" value="gc"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>