<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Tiempo para el arranque del servicio-->
    <add key="timer" value="30000" /><!--1 minuto-->
    <!--Credenciales del correo electrónico-->
     <add key ="mail" value="admin@parquediversiones.com"/>
    <add key ="mailPass" value="Parque1818"/>
    <!--Nombre de la tabla-->
    <add key ="tbName" value="correos"/>
    <!--Alias de la tabla-->
    <add key ="tbAlias" value="gc"/>
    <!--string de conexión-->
    <add key="connectionString" value="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 172.16.192.15)(PORT = 1521))(CONNECT_DATA = (SID = pardiv)));User Id=gestor_correo;Password=GSTRCRR112018;"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>