<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Tiempo para el arranque del servicio-->
    <add key="timer" value="180000" /><!--3 minutos-->
    <!--Contraseña del correo electrónico-->
    <add key ="mailPass" value="Parque1818"/>
    <!--Nombre de la tabla-->
    <add key ="tbName" value="gc_correos"/>
    <!--Alias de la tabla-->
    <add key ="tbAlias" value="gc"/>
    <!--string de conexión-->
    <add key="connectionString" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=190.124.250.60)(PORT=1526))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=csi11g))); User Id=BGDESA; Password=BGDESA;"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>